/* custom font */
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/* basic reset */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: linear-gradient(135deg, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
  background-repeat: repeat-y; 
}

body {
  font-family: montserrat, arial, verdana;
}

/* form style */
#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

#msform fieldset{
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
  padding: 20px 30px;
  width: 80%;
  margin: 0 10%;
}

/* headings */
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/* progressbar */

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /* CSS counters to number the steps */
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px;
}






























